body {
    /* background-image: url(https://images.alphacoders.com/226/226091.jpg); */
    color: white;
    background-color: black;
    
}

.jumbotron {
    background-image: url(https://pmcvariety.files.wordpress.com/2015/06/gameofthrones_logo.jpg?w=1000&h=563&crop=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    color: black;
}



